<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Wacky Widgets</title>
</head>
<body>
  <h1>Wacky Widgets</h1>
  
  <% if (widgets.length === 0) { %>
    <h3>No Widgets Exist</h3>
    <% } else { %>
      <% widgets.forEach(function(widget) { %>
        <section><h3><%= widget.description %></h3>
          <p>Quantity: <%= widget.quantity %></p>
          <form method="POST" action="/widgets/<%= widget.id %>/?_method=DELETE">
            <input type="submit" value="DELETE">
          </form>
        </section>
      <% }) %>
    <% } %>
  <hr>
  
  <h4>Add Widget</h4>
  <form method="POST" action="/widgets">
    <div>
      <input type="text" name="description" placeholder="Widget description..." />
    </div>
    <div>
      <input type="text" name="quantity" placeholder="Widget quantity..." />
    </div>
    <div>
      <input type="submit" value="ADD WIDGET" />
    </div>
  </form>
  
</body>
</html>
